// primary colors
$primary-color-1: #8e210b;
$primary-color-2: #531104;


// secondary colors
$secondary-color-1: black;
$secondary-color-2: white;
$secondary-color-2: grey;
$secondary-color-2: rgb(82,82,82);
