@import '../../../styles/colori.scss';

.container-card {
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.5%;
  margin-bottom: 20px;

  .card-title {
    font-weight: bold;
    font-size: 16px;
    color: $primary-color-1;
  }

  .card-image {
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .card-text {
    text-align: justify;
    color: $secondary-color-3;
  }

  .btn-visualizza{
    background-color: $primary-color-1!important;
    border-color: $primary-color-1!important;
    margin-left: 25%!important;
  }

  .btn-delete{
    background-color: $primary-color-1!important;
    border-color: $primary-color-1!important;
    margin-left: 5%!important;
  }
}
